.layout {
  .header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .main {
    position: absolute;
    top: 70px;
    bottom: 70px;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
